<!-- Webseite für die Uni
- spätere Weiterentwicklung
Author: Jamie Schneker und Can Kalkan
Modul: Webentwicklung
Dozent: Robin Bedemann -->

<!DOCTYPE html>
<html ng-app="guildsApp">
<head>
  <title>Haus Stark</title>
  <meta charset="utf-8" lang="de">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Style -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://bootswatch.com/darkly/bootstrap.min.css">
  <link rel="stylesheet" href="style.css">
  <!-- Scripts -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
  <script src="app.js"></script>
</head>
<body>
  <div class="container-fluid">
    <div class="row content">
      <div class="col-sm-3 sidenav">
        <ul class="nav nav-pills nav-stacked"></ul>
        <center>
          <h1>Haus Stark</h1>
          <img class="img-responsive" src="pic/house_stark_by_azraeuz-d61daf1.png" >
        </center>

        <ul class="nav nav-pills nav-stacked">
          <li><a href="#/index.html"><center>Startseite</center></a></li>
          <li><a href="#/profil.html"><center>Profil</center></a></li>
          <li><a href="#/abgabe"><center>Abgabe</center></a></li>
          <li><a href="#/stats"><center>Statistik</center></a></li>
        </ul>
        <br>
        <div class="input-group">
          <input type="text" class="form-control" ng-model="search" placeholder="Suche">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">
              <span class="glyphicon glyphicon-search"></span>
            </button>
        </span>
      </div>
    </div>
    <div class="col-sm-9">
      <h3>Albion Online Gilden Seite</h3>
      <hr>
    </div>

    <div ng-controller="NewsCtrl">
      <div class="col-sm-9 mainpage" ng-repeat="new in news | filter:search">
        <h4><b>{{new.ueberschrift}}</b></h4>
        <span class="glyphicon glyphicon-time"></span>Post by {{new.postdate}}.
        <span class="label label-success">{{new.label}}</span></br>
        <h4><p class="text">{{new.text}}</p></h4>
        <p><i>{{new.end}}</i></p>
        <br>
      </div>
    </div>
  </div>
</div>

<!-- TODO muss noch nach ganz unten getan werden mit CSS-->
<div class="footer-bottom">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div class="copyright">
          © 2017, Garodan and xXPOLYGONXx, Open Source no rights reserved
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div class="design">
          <a href="#">Albion Online </a> |  <a target="_blank" href="http://www.google.de">Google.de</a>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
