<h3>Albion Online Gilden Seite</h3>
<div class="input-group">
    <input type="text" class="form-control" ng-model="search" placeholder="Suche">
    <span class="input-group-btn">
            <button class="btn btn-default" type="button">
              <span class="glyphicon glyphicon-search"></span>
    </button>
    </span>
</div>
<hr>


<div ng-controller="NewsCtrl">
    <div class="col-sm-9 mainpage" ng-repeat="new in news | filter:search">
        <h4><b>{{new.ueberschrift}}</b></h4>
        <span class="glyphicon glyphicon-time"></span>Post by {{new.postdate}}.
        <span class="label label-success">{{new.label}}</span></br>
        <h4><p class="text">{{new.text}}</p></h4>
        <p><i>{{new.end}}</i></p>
        <br>
    </div>
