.text {width: 70%;}
;
  }
  .row.content {height: 1000px}

  .sidenav {
    padding-top: 0px;
    height: 100%;
    width: auto%;

  }
  /*footer {
    padding-top: 100%;
    background-color: #555;
    color: white;
    padding: 7px;
  }*/
  @media screen and (max-width: 767px) {
    .sidenav {
      height: auto;
      padding: 15px;
    }
    .row.content {height: auto;}
  }
  .profil{
    padding-top: 100px;
  }
  .footer-bottom {
    background-color: #15224f;
    min-height: 30px;
    width: 100%;
}
.copyright {
    color: #fff;
    line-height: 30px;
    min-height: 30px;
    padding: 7px 0;
}
.design {
    color: #fff;
    line-height: 30px;
    min-height: 30px;
    padding: 7px 0;
    text-align: right;
}
.design a {
    color: #fff;
}
